:root{
    --tilecolor1:red;
    --tilecolor2:rgb(255, 196, 0);
    --tilecolor3:purple;
} 

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 50%;
}



.game{
    width: 400px;
    height: 400px;
    margin:0 auto;

}


#board{
    width: 100%;
    height: 100%;
    background-color: hsl(30, 30%, 26%);
    border: 5px solid hsl(30, 15%, 26%);
    margin:0 auto;

    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid hsl(30, 15%, 26%);
    margin:auto;
   
    color: black;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.over {
    background-color: rgba(130, 130, 130, 0.502);


}

.x2 {
    background-color:color-mix(in oklab, var(--tilecolor1) 10%, white );

}

.x4 {
    background-color:color-mix(in oklab, var(--tilecolor1) 20%, white );
   
}

.x8 {
    background-color:color-mix(in oklab, var(--tilecolor1) 40%, white );
    
}

.x16 {
    background-color:color-mix(in oklab, var(--tilecolor1) 60%, white );
    color: white;
}

.x32 {
    background-color:color-mix(in oklab, var(--tilecolor1) 80%, white );
    color: white;
}

.x64 {
    background-color: var(--tilecolor1);
    color: white;
}

.x128 {
    background-color:color-mix(in oklab, var(--tilecolor2) 20%, white );
   
}

.x256 {
    background-color:color-mix(in oklab, var(--tilecolor2) 40%, white );
    
}

.x512 {
    background-color:color-mix(in oklab, var(--tilecolor2) 60%, white );
    color: white;
}

.x1024 {
    background-color:color-mix(in oklab, var(--tilecolor2) 80%, white );
    color: white;
}

.x2048 {
    background-color: var(--tilecolor2);
    color: white;
}

.x4096 {
    background-color: var(--tilecolor3);
    color: white;
}